<div class="container">
    <div class="row">
    
    <div class="dropdown">
        <button class="btn btn-primary"> Llenar </button>
            <button
              class="btn btn-secondary btn-lg btn-circle dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false
              "
            >
            <i class="fa fa-shopping-cart"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item">Action</a></li>
              <li><a class="dropdown-item">Another action</a></li>
              <li><a class="dropdown-item">Something else here</a></li>
            </ul>
        </div>

    </div>
    
  
    <form [formGroup]="FormPedidoCa">

      <div class="container-fluid py-5 jumbotron rounded">
        <b class="campos">Direccion</b>
        <div class="row">
          <div class="col-5">
            <em>Calle</em>
            <input type="text" class="form-control" formControlName="Calle" />
          </div>
          <div class="col-2">
            <em>Numero</em>
            <input type="text" class="form-control" formControlName="Numero" />
          </div>
          <div class="col-5">
            <em>Ciudad</em>
            <input type="text" class="form-control" formControlName="Ciudad" />
          </div>
        </div>
        <em class="campos"> Referencias </em>
        <div class="row">
          <div class="col-12">
            <textarea class="form-control"> </textarea>
          </div>
        </div>
      </div>
  
      <div class="container-fluid py-5 jumbotron rounded">
        <b class="campos">Datos de pago</b>
        <div class="row justify-content-center">
          <div class="col-2">
            <em> Metodo de pago</em>
            <select class="form-select" formControlName="FormaPago">
              <option *ngFor="let opt of Opciones" [ngValue]="opt.Nombre">
                ‌ {{ opt.Nombre }}
              </option>
            </select>
          </div>
  
          <div
            class="col-2"
            *ngIf="FormPedidoCa.controls['FormaPago'].value == 'Efectivo'"
          >
            <em>Monto </em>
            <input
              type="text"
              name="Nombre"
              class="form-control"
              formControlName="Monto"
            />
          </div>
          <div
            class="col-3"
            *ngIf="
              FormPedidoCa.controls['FormaPago'].value == 'Tarjeta de credito'
            "
          >
            <em>Nombre del titular </em>
            <input
              type="text"
              name="Nombre"
              class="form-control"
              formControlName="Monto"
            />
          </div>
          <div
            class="col-3"
            *ngIf="
              FormPedidoCa.controls['FormaPago'].value == 'Tarjeta de credito'
            "
          >
            <em>Apellido del titular </em>
            <input
              type="text"
              name="Nombre"
              class="form-control"
              formControlName="Monto"
            />
          </div>
        </div>
        <div class="row justify-content-center">
          <div
            class="col-3"
            *ngIf="
              FormPedidoCa.controls['FormaPago'].value == 'Tarjeta de credito'
            "
          >
            <em>Numero de tarjeta</em>
            <input
              type="text"
              name="Nombre"
              class="form-control"
              formControlName="NroTarjeta"
            />
          </div>
          <div
            class="col-3"
            *ngIf="
              FormPedidoCa.controls['FormaPago'].value == 'Tarjeta de credito'
            "
          >
            <em>Fecha de vencimiento</em>
            <input
              type="text"
              name="Nombre"
              class="form-control"
              formControlName="FechaVencimiento"
            />
          </div>
          <div
            class="col-2"
            *ngIf="
              FormPedidoCa.controls['FormaPago'].value == 'Tarjeta de credito'
            "
          >
            <em>CVC</em>
            <input
              type="text"
              name="Nombre"
              class="form-control"
              formControlName="Cvc"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  